{{ define "main" }}
<header>{{- partial "header.html" . -}}</header>
<div class="fv-single" style="background: {{ .Params.color }}">
  <div class="layout-single">
    <div class="column_center">
      <h2>{{ .Params.charge }}</h2>
      <h3>{{ .Date.Format "01.2006" }}</h3>
    </div>
  </div>
</div>
<div class="report">
  <img class="image" src="/{{ .Params.image }}" />
  <article>
    {{ .Content }}
  </article>
</div>
<div class="other-project">
  {{ with .NextInSection }}
  <div class="next-project">
    <h2 class="title">Next</h2>
    <a href="{{.Permalink}}"><img class="image" src="/{{ .Params.image }}" /></a>
    <p class="charge">{{ .Params.charge }}</p>
  </div>
  {{end}}
  {{ with .PrevInSection }}
  <div class="prev-project">
    <h2 class="title">Prev</h2>
    <a href="{{.Permalink}}"><img class="image" src="/{{.Params.image}}" /></a>
    <p class="charge">{{ .Params.charge }}</p>
  </div>
  {{end}}
</div>
{{- partial "modal.html" . -}}
{{ end }}