{{ define "main" }}
<div class="fv-single">
  <div class="layout-single" style="background: {{ .Params.color }}">
    <header><a href="{{ .Site.BaseURL }}"><i class="fas fa-home"></i></a><i class="fas fa-address-book icon-about"></i></header>
    <div class="column_center">
      <h2>{{ .Params.charge }}</h2>
      <h3>{{ .Date.Format "01.2006" }}</h3>
    </div>
  </div>
  <img src="/{{ .Params.image }}"/>
</div>
<div class="report">
  <h1 class="title" style="color: {{ .Params.color }}">{{ .Title }}</h1>
  <article>
     {{ .Content }}
  </article>
</div>
<div class="next-project">
  <h2>Next Project</h2>
</div>
{{ end }}
