//Variable
:root {
    --font-en-title: 'Raleway', sans-serif;
    --font-en-text: 'Roboto', sans-serif;
    --font-jp: 'Noto Sans JP', sans-serif;
    --color-white: #FFFFFF;
    --color-halfwhite: rgba(255, 255, 255, 0.5);
    --color-about: #262626;
}

$breakpoint: 768px !default;


/*////////
Components
////////*/

.action{
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  padding: 8px;
  width: auto;
  &:hover{
    transform: scale(1.2);
  }
}

.arrow path{
  //52.56546
  stroke-dasharray: 52;
  stroke-dashoffset: 52;
  transition: all 0.3s ease-out;
  animation: line-anim 3s ease-out infinite;
  @keyframes line-anim{
    0%{ stroke-dashoffset: 52; }
    30%{ stroke-dashoffset: 0; }
    100%{ stroke-dashoffset: 0; }
  }
}


/*////////
index
////////*/

body{
  width: 100%;
  height: 100%;
  position: relative;
  transition: background-color 3s ease-out;
  font-family: var(--font-en-text);
  color: var(--color-white);
  background-color: var(--color-white);
}

.header{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    height: 100%;
  }
  .logo{
    height: 80px;
    &:hover{
      path:nth-of-type(1){
        animation: logo-anim 0.5s ease-out alternate;
      }
      path:nth-of-type(2){
        animation: logo-anim 0.5s ease-out alternate 0.03s;
      }
      path:nth-of-type(3){
        animation: logo-anim 0.5s ease-out alternate 0.06s;
      }
      path:nth-of-type(4){
        animation: logo-anim 0.5s ease-out alternate 0.09s;
      }
      path:nth-of-type(5){
        animation: logo-anim 0.5s ease-out alternate 0.12s;
      }
      path:nth-of-type(6){
        animation: logo-anim 0.5s ease-out alternate 0.15s;
      }
      path:nth-of-type(7){
        animation: logo-anim 0.5s ease-out alternate 0.18s;
      }
      path:nth-of-type(8){
        animation: logo-anim 0.5s ease-out alternate 0.21s;
      }
      @keyframes logo-anim {
        0%{
          transform: translateY(0);
          opacity: 1;
        }
        50%{
          transform: translateY(16px);
          opacity: 0;
        }
        100%{
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
  .icon-about{
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all 0.2s ease-out;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    &:hover{
      letter-spacing: 0.2em;
      font-weight: bold;
    }
  }
}

.layout{
  height: 100vh;
  width: 100%;
  color: var(--color-white);
  display: grid;
  grid-template-columns: 80px calc(100% - 160px) 80px;
  grid-template-rows: 80px calc(100vh - 160px) 80px;
  grid-template-areas:
  "column_left header column_right"
  "column_left column_center column_right"
  "column_left footer column_right";
  justify-content: stretch;
  align-content: stretch;
  overflow: hidden;

  .header{
    grid-area: header;
  }

  .footer{
    height: 80px;
    width: 100%;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: 12px;
      color: var(--color-halfwhite);
    }
    .sns_link{
      display: flex;
      flex-direction: row;
      position: inherit;
      z-index: 10;
    }
  }
  .column_left, .column_right{
    width: 80px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
    .arrow path{
        stroke-dashoffset: 0;
        stroke-width: 3;
        animation: none;
    }
   }
  }

  .column_left{grid-area: column_left;}
  .column_right{grid-area: column_right;}

  .column_center{
    grid-area: column_center;
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(340deg, rgba(0, 0, 0, 0.3), rgba(0,0,0,0) 50%);
    .works{
      display: flex;
      height: 100%;
        &.sliding-left {
          animation: slide-left 0.5s ease-out;
        }
        &.sliding-right {
          animation: slide-right 0.5s ease-out;
        }
        @keyframes slide-left {
          from {
            transform: translateX(100%);
          }
          to {
            transform: translateX(0%);
          }
        }
        @keyframes slide-right {
          from {
            transform: translateX(-100%)
          }
          to {
            transform: translateX(0%);
          }
        }
      .work{
        flex-shrink: 0;
        position: relative;
        opacity: 0;
        width: 200%;
        &.show{
          transition: all .6s ease-out;
          opacity: 1;
          width: 100%;
        }
        h2{
          font-size: 5vw;
          letter-spacing: 0.05em;
          position: absolute;
          top: 0;
          left: 0;
        }
        h3{
          font-size: 10vw;
          position: absolute;
          top: 0;
          right: 0;
          color: rgba(255, 255, 255, 0.1);
        }
        a.image{
          z-index: 100;
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            display: block;
            width: auto;
            height: auto;
            width: 640px;
            max-width: 100%;
            transition: all 0.3s ease-out;
            z-index: 100;
            &:hover{
              transform: translate(-50%, -50%) scale(1.03);
              z-index: 100;
            }
          }
        }
        .name{
          svg{
          height: auto;
          max-width: 100%;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 0;
          }
        }
      }
    }
  }
  .bar-container{
      position: absolute;
      width: 100%;
      height: 82px;
      left: 0;
      bottom: 0px;
      padding: 0 80px;
    .bar{
      border-top: 2px solid var(--color-white);
    }
  }
  @media screen and (max-width: $breakpoint) {
    grid-template-columns: 100%;
    grid-template-rows: 80px calc(100vh - 160px) 80px;
    grid-template-areas:
    "header"
    "column_center"
    "footer";
    justify-content: stretch;
    align-content: stretch;
    .column_left, .column_right{display: none;}
    .header{
      padding: 0 16px;
    }
    .footer{
      padding: 0 16px;
    }
    .column_center{
      .works{
        .work{
          .new{
            font-size: 64px;
          }
          h2{
            font-size: 32px;
            left: 16px;
          }
          h3{
            font-size: 64px;
            top: 16px;
            left: auto;
            right: 16px;
          }
          .name{
            svg{
             transform: rotate(-90deg);
             transform-origin: bottom left;
             right: auto;
             left: 100%;
             max-width: 100%;
            }
          }
        }
      }
    }
    .bar-container{
      padding: 0;
    }
  }
}

@keyframes up-down{
  0%{
    transform: translate(-50%, -48%);
  }
  100%{
    transform: translate(-50%, -52%);
  }
}


/*////////
Single page
////////*/

header{
  .header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 80px;
    @media screen and (max-width: $breakpoint) {
      padding: 0 16px;

    }
  }
}

.fv-single{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  .layout-single{
    height: 400px;
    width: 100%;
    padding: 0 80px;
    color: var(--color-white);

    .column_center{
      position: relative;
      margin-top: 80px;

      h2{
        font-size: 5vw;
        letter-spacing: 0.05em;
        position: absolute;
        top: 0;
        left: 0;
      }
      h3{
        font-size: 10vw;
        position: absolute;
        top: 0;
        right: 0;
        color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  @media screen and (max-width: $breakpoint) {
    .layout-single{
      height: 240px;
      padding: 0;

      .column_center{
        h2{
          font-size: 32px;
          left: 16px;
        }
        h3{
          font-size: 64px;
          top: 16px;
          left: auto;
          right: 16px;
        }
      }
    }
  }
}

.report{
  padding: 200px 0 80px;
  text-align: center;
  .image{
  width: 50%;
  z-index: 10;
  @media screen and (max-width: $breakpoint) {
      width: 100%;
      top: 160px;
    }
  }
  article{
    width: 100%;
    line-height: 200%;
    color: var(--color-about);
    text-align: center;
    padding: 0 80px;
    h1{
      display: inline-block;
      text-align: left;
      width: calc(100% - 160px);
      max-width: 800px;
      font-size: 80px;
      padding: 0;
      margin: 80px 0 16px;
      line-height: 170%;
      letter-spacing: 0.03em;
    }
    h2{
      display: inline-block;
      text-align: left;
      width: calc(100% - 160px);
      max-width: 800px;
      font-size: 28px;
      line-height: 170%;
      letter-spacing: 0.01em;
    }
    h3{
      display: inline-block;
      text-align: left;
      width: calc(100% - 160px);
      max-width: 800px;
      font-size: 24px;
      line-height: 170%;
      letter-spacing: 0.03em;
    }
    h4{
      display: inline-block;
      text-align: left;
      width: calc(100% - 160px);
      max-width: 800px;
      font-size: 16px;
      font-weight: bold;
      margin: 0 80px;
      line-height: 170%;
      letter-spacing: 0.03em;
    }
    p{
      display: inline-block;
      text-align: left;
      width: calc(100% - 160px);
      max-width: 800px;
      font-size: 18px;
      margin-bottom: 40px;
      line-height: 170%;
      letter-spacing: 0.03em;
    }
    a{
      font-size: 18px;
      color: var(--color-about);
      text-decoration: none;
      transition: opacity 0.3s ease-out;
      &:hover{
        opacity: 0.5;
      }
    }
    ul{
      display: inline-block;
      text-align: left;
      width: 100%;
      max-width: 800px;
      font-size: 18px;
      padding: 16px 0 40px;
      margin-bottom: 80px;
      line-height: 170%;
      li{
        list-style-type: square;
      }
    }
    img{
      width: 100%;
      max-width: 800px;
      margin: 24px auto;
    }
    .vimeo{
      margin: 0 auto;
    }
    .visit{
      display: inline-block;
      background: var(--color-about);
      color: var(--color-white);
      text-align: center;
      padding: 16px 32px;
      margin: 16px auto;
    }
  }
  @media screen and (max-width: $breakpoint) {
    padding: 200px 0 16px;
    line-height: 200%;
    .title{
    font-size: 40px;
    }
    article{
    text-align: center;
    padding: 0;
    h1{
      font-size: 40px;
      padding: 0;
      margin: 48px 0px 16px;
      width: calc(100% - 32px);
    }
    h2{
      font-size: 24px;
      margin-top: 16px;
      width: calc(100% - 32px);
    }
    h3{
      font-size: 24px;
      margin: 0;
      width: calc(100% - 32px);
    }
    h4{
      font-size: 16px;
      font-weight: bold;
      margin: 0;
      width: calc(100% - 32px);
    }
    p{
      font-size: 16px;
      margin: 4px 0 16px;
      width: calc(100% - 32px);
    }
    a{
      font-size: 16px;
    }
    ul{
      font-size: 16px;
      margin-bottom: 80px;
      padding: 0;
      width: calc(100% - 32px);
      li{
        list-style-type: square;
      }
    }
    img{
      width: 100%;
      margin: 8px auto;
    }
  }
  }
}
.other-project{
  width: 100%;
  height: 320px;
  color: gray;
  .next-project{float: left;}
  .prev-project{float: right}
  .next-project,.prev-project{
    width: 50%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 40px;
    line-height: 200%;
    font-family: var(--font-en-title);
    .arrow{
      height: 100%;
      float: left;
    }
    .image{
      max-height: 50%;
      max-width: 80%;
      object-fit: cover;
      transition: all 0.2s ease-out;
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
       &:hover{
        transform: translateX(-50%) scale(1.05);
      }
    }
    .title{
      font-size: 40px;
      margin: 0 0 24px;
      letter-spacing: 0.1em;
      color: var(--color-about);
    }
    .charge{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px;
      color: var(--color-about);
      letter-spacing: 0.1em;
    }
  }
  @media screen and (max-width: $breakpoint) {
    height: 200px;
    .next-project,.prev-project{
      padding: 16px 16px 32px;
      .title{
        font-size: 24px;
         margin: 8px 0 0;
      }
      .charge{
        font-size: 14px;
        line-height: 150%
      }
    }
  }
}
.copy-right{
  display: block;
  font-size: 12px;
  color: var(--color-about);
  text-align: center;
  margin: 24px;
  opacity: 0.5;
}

/*////////
Modal
////////*/

.modal{
  background-color: var(--color-about);
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 150;
  width: 100%;
  height : 100vh;
  overflow: hidden;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  &.show{
    opacity: 1;
    top: 0;
  }
  .column_left, .column_right{
    cursor: default;
  }
  .column_center{
    overflow: auto;

    h2{
      font-size: 5vw;
      position: absolute;
      top: 0;
      left: 0;
    }
    h3{
      font-size: 10vw;
      position: absolute;
      top: 0;
      left: 0;
      color: rgba(255, 255, 255, 0.1);
    }
    .allabout{
      width:100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-end;
      .me{
        height: 80%;
        object-fit: contain;
        margin: 16px;
      }
      .description{
        min-width: 560px;
        width: 50%;
        padding: 16px;
        line-height: 2em;
        overflow-y: scroll;
        overflow-x: hidden;
        h4{
          font-size: 3vw;
          margin-bottom: 16px;
        }
        p,a{
          margin-bottom: 8px;
          font-family: var(--font-en-text);
          text-decoration: none;
          letter-spacing: 0.05em;
          line-height: 170%;
        }
        a{
          padding: 0;
          transition: all 0.1s ease-out;
          &:hover{
            border-bottom: 2px solid var(--color-white);
          }
        }

        .skill-set{
          font-size: 16px;
          color: var(--color-halfwhite);
          margin-top: 16px;
          .icon{
            width: 24px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 16px;
          }
          span{
            margin: 8px;
            padding: 4px 16px;
            border: 1px solid;
            border-radius: 4px;
            display: inline-block;
            font-family: var(--font-en-text);
          }
        }
      }
    }
  }
  @media screen and (max-width: $breakpoint) {
    .column_center{
      width: 100%;
      h2{
        font-size: 32px;
        left: 16px;
      }
      h3{
        font-size: 64px;
        top: 16px;
        left: auto;
        right: 16px;
        z-index: -1;
      }
      .allabout{
        .me{
          height: auto;
          width: 50%;
        }
        .description{
        min-width: auto;
        width: 100%;
        h4{
          font-size: 24px;
          margin-bottom: 16px;
        }
        p,a{
          margin-bottom: 8px;
          line-height: 2em;
          font-size: 14px;
        }
        a{
          padding: 0;
        }
          .skill-set{
            font-size: 13px;
            .icon{
              width: 16px;
              margin-right: 8px;
            }
            span{
              margin: 8px;
              padding: 2px 12px;
            }
          }
        }
      }
    }
  }
}
