//Home

:root {
    --font-en: 'Raleway', sans-serif, 'Roboto', sans-serif;
    --font-jp: 'Noto Sans JP', sans-serif;
    --color-white: #FFFFFF;
    --color-portfolio: #262626;
}

body{
  background-color: var(--color-portfolio);
  height: 100vh;
  width: 100%;
  color: var(--color-white);

  .layout{
    display: grid;
    grid-template-columns: 80px calc(100% - 160px) 80px;
    grid-template-rows: 80px calc(100vh - 160px) 80px;
    grid-template-areas:
    "column_left header column_right"
    "column_left column_center column_right"
    "column_left footer column_right";
    justify-content: stretch;
    align-content: stretch;

    header{
      height: 80px;
      width: 100%;
      grid-area: header;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 32px;
    }
    footer{
      height: 80px;
      width: 100%;
      grid-area: footer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        font-size: 12px;
      }
      i{
        font-size: 24px;
        margin-left: 24px;
      }
    }
    .column_left{
      grid-area: column_left;
      width: 80px;
      place-self: center;
      text-align: center;
      font-size: 24px;
    }
    .column_right{
      grid-area: column_right;
      width: 80px;
      place-self: center;
      text-align: center;
      font-size: 24px;
    }
    .column_center{
      grid-area: column_center;
      font-family: var(--font-en);
      position: relative;
      background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
      overflow: hidden;
      h2{
        font-size: 5vw;
        position: absolute;
        top: 0;
        left: 0;
      }
      h3{
        font-size: 10vw;
        position: absolute;
        top: 0;
        left: 0;
        color: rgba(255, 255, 255, 0.1);
      }
      h1{
        font-size: 10vw;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      img{
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
      }
      .bar{
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        width: 100%;
        height: 8px;
        left: 0;
        bottom: 0;
      }
    }
  }
}
