<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {{ $style := resources.Get "css/common.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{ $style := resources.Get "css/style.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" defer></script>
  <script src="anime.min.js" defer></script>
  {{ $script := resources.Get "js/script.js" | minify | fingerprint -}}
  <script src="{{ $script.Permalink }}" defer
    {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>

  {{ if not .Site.IsServer }}
  {{ with .Site.GoogleAnalytics }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ . }}');
  </script>
  {{ end }}
  {{ end }}

  <title>{{ $.Site.Title }}</title>
  <link rel="shortcut icon" type="image/png" href="/static/favicon.png" />

  <meta property="og:url" content=" ページの URL" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="HOME of ARIFOLIO" />
  <meta property="og:description" content="The designer ARISA's portfolio" />
  <meta property="og:site_name" content="ARIFOLIO" />
  <meta property="og:image" content="/static/OGP.png" />

</head>