<div class="modal js-modal">
  <div class="layout">
    <div class="column_left"></div>
    <div class="column_right"></div>
    <header><i class="fas fa-times icon-close"></i></header>
    {{- partial "footer.html" . -}}
    <div class="column_center">
      <h2>Hello, I am ARISA</h2>
      <h3>2019</h3>
      <img src="me.png">
      <div class="description">
        <h4>I design and code.</h4>
        <p>I have been working as a full-time intern at the start-up Scoville in Tokyo since this May. Learnined strategic designs according to target audiences and purposes, through feedback from my senior. Now working on web designs mainly. I am committed to every project with massive passion , and do not compromise. I keep to research daily aiming to create a beautifull and dynamic design from any devces. Moreover, strongly interested in front-end development for motions and functions.</p>
        <div class="skill-set">
          <i class="fas fa-edit"></i><span>Figma</span><span>Illustrator</span><span>Photoshop</span><br>
          <i class="fas fa-code"></i><span>HTML</span><span>CSS/SCSS</span><span>JavaScript</span>
        </div>
      </div>
    </div>
  </div>
</div>
