{{ define "main" }}
{{ $postCount := len .Site.RegularPages }}
<div class="layout">
  <div class="column_left"><i class="fas fa-angle-left"></i></div>
  <div class="column_right"><i class="fas fa-angle-right"></i></div>
  <header><i class="fas fa-address-book icon-about"></i></header>
  {{- partial "footer.html" . -}}
  <div class="column_center">
    <ul class="works" id="{{ $postCount }}">
      {{range .Pages }}
        <li class="work" id={{ .Params.color }}>
          <h2>{{ .Params.charge }}</h2>
          <h3>{{ .Date.Format "01.2006" }}</h3>
          <a href="{{.Permalink}}"><img src="/{{ .Params.image }}"/></a>
          <h1>{{ .Title }}</h1>
        </li>
      {{ end }}
    </ul>
    <ul class="bar">
    </ul>
  </div>
</div>
{{- partial "modal.html" . -}}
{{ end }}
