<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <div class="layout">
      <div class="column_left">
        <i class="fas fa-caret-left"></i>
      </div>
      {{- partial "header.html" . -}}
      <div class="column_center">
        <h2>Web Design & Development</h2>
        <h3>11.2019</h3>
        <img src="../static/work3.png"/>
        <h1>Portfolio Site</h1>
        <div class="bar">
        </div>
      </div>
      {{- partial "footer.html" . -}}
      <div class="column_right">
        <i class="fas fa-caret-right"></i>
      </div>
    </div>
  </body>
</html>
